#busca {
    .container {
        div {
            display: flex;
            width: 100%;
            background: $cor1;
            padding: 8px;
            border-radius: 6px;

            input {
                padding: 4px 8px;
                width: calc(100% - 42px);
                background: none;
                border: none;
                font-size: 1rem;
            }

            button {
                background: none;
                border: none;
                border-radius: 2px;
                padding: 12px;
                cursor: pointer;

                &:active {
                    background: rgba(0, 58, 112, 0.2);
                }

                span {
                    position: absolute;
                    left: -9999px;
                }

                i {
                    color: $cor4;
                }
            }
        }
    }
}
