@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$cor1: rgb(231, 243, 255);
$cor4: rgb(0, 58, 112);
$cor5: rgb(0, 26, 49);

body {
    font-size: 16px;
    color: $cor5;
    font-family: "Roboto", sans-serif;
}

*:focus {
    outline-color: rgba(0, 58, 112, 0.4);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
p {
    line-height: 1.5;
}

h2,
h3 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

.container {
    display: flex;
    padding: 0 1rem;
}

section {
    padding: 22px 0;
}

article {
    margin-bottom: 20px;
}

.tooltip {
    margin-left: 1rem;
    position: relative;

    i {
        color: #cf503f;
    }

    span {
        position: absolute;
        background: $cor4;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 180px;
        left: 2px;
        top: -100px;
        visibility: hidden;
        height: 0;
        padding: 0;
        transition: all 0.3s ease-in-out;

        &.ativo {
            visibility: visible;
            height: auto;
            padding: 8px 4px;
            transition: all 0.3s ease-in-out;
        }
    }
}
