@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$cor1: #ececec;
$cor2: #a0a0a0;
$cor3: #636363;
$cor4: #2b2b2b;

body {
    font-size: 16px;
    color: $cor4;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline-color: $cor2;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
p {
    line-height: 1.5;
}

h2,
h3 {
    font-weight: 500;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

.container {
    display: flex;
    padding: 0 1rem;
}

section {
    padding: 22px 0;
}

