@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$cor1: rgb(241, 248, 255);
$cor2: rgb(0, 89, 173);
$cor3: rgb(38, 84, 126);
$cor4: rgb(0, 58, 112);
$cor5: rgb(0, 26, 49);

body {
    font-size: 16px;
    color: $cor5;
    font-family: "Roboto", sans-serif;

    @media only screen and(min-width: 1000px) {
        & {
            font-size: 18px;
        }
    }
}

*:focus {
    outline-color: rgba(0, 58, 112, 0.4);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
p {
    line-height: 1.5;
}

h2,
h3 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;

    @media only screen and(min-width: 768px) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 1.6rem;
    color: $cor2;

    @media only screen and(min-width: 768px) {
        font-size: 1.8rem;
    }
}

h3 {
    font-size: 1.2rem;
    color: $cor3;

    @media only screen and(min-width: 768px) {
        font-size: 1.4rem;
    }
}

.container {
    display: flex;
    padding: 0 1rem;

    @media only screen and(min-width: 768px) {
        padding: 0 2rem;
    }

        @media only screen and(min-width: 1000px) {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
}

section {
    padding: 22px 0;
}

article {
    margin-bottom: 20px;
}

.tooltip {
    margin-left: 1rem;
    position: relative;
    cursor: pointer;

    i {
        color: rgb(226, 133, 121);
    }

    span {
        position: absolute;
        background: $cor4;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 180px;
        left: 2px;
        top: -100px;
        visibility: hidden;
        height: 0;
        padding: 0;
        transition: all 0.3s ease-in-out;

        &.ativo {
            visibility: visible;
            height: auto;
            padding: 8px 4px;
            transition: all 0.3s ease-in-out;
        }
    }
}
