#loader {
    position: absolute;
    left: 50%;
    margin-left: -28px;
    top: 100px;
    animation: rotation 0.7s infinite linear;
    visibility: hidden;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    i {
        background: linear-gradient(180deg, #003a70, #eb1f04);
        opacity: .6;
        color: #fff;
        border-radius: 50%;
        padding: 4px;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    &.ativo {
        visibility: visible;
        height: auto;
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
}
