#loader {
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 100px;
    animation: rotation 0.7s infinite linear;
    visibility: hidden;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: linear-gradient(180deg, #003a70 0%, #cf503f 67.14%, #ffcb05 100%, rgba(210, 210, 210, 0) 100%);

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    &.ativo {
        visibility: visible;
        height: auto;
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
}
