main {
    background-color: $cor4;
    padding: 0 0 30px 0;
    margin-bottom: 22px;

    .container {
        flex-direction: column;
        justify-content: space-between;
        height: 600px;
        transition: 0.3s ease-in-out;

        @media only screen and(min-width: 768px) {
            height: 530px;
            transition: 0.3s ease-in-out;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;

            h2,
            img {
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
                color: #fff;
            }
        }

        section {
            max-width: 400px;

            .nome {
                margin-bottom: 0.8rem;
                color: #ffcb05;

                * {
                    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                }
            }

            p {
                color: $cor1;
            }
        }

        #scrolldown {
            background: rgb(36, 116, 191);
            text-shadow: 0 0 10px rgba(0, 58, 112, 0.6);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
            color: $cor1;
            border-radius: 6px;
            border: none;
            padding: 20px 32px;
            width: 200px;
            align-self: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: rgb(45, 104, 160);
                transition: all 0.3s ease-in-out;
            }

            &:active {
                color: rgb(196, 226, 255);
                background: rgb(45, 104, 160);
                transition: all 0.3s ease-in-out;
            }

            span {
                font-size: 1.1rem;
                font-weight: 700;
            }

            i {
                margin-left: 8px;
            }
        }
    }
}
