#pokemon {
    .container {
        position: relative;
        flex: auto;

        @import "loader";

        .info {
            display: flex;
            flex-direction: column;
            visibility: hidden;
            height: 0;
            margin: 0;
            width: 0;

            article {
                height: 0;
                margin: 0;
                width: 0;
                padding: 0;
            }

            &.show {
                visibility: visible;
                height: auto;
                width: 100%;
                padding-bottom: 44px;
                transition: 0.3s ease-in-out;

                @media only screen and(min-width: 580px) {
                    width: 548px;
                    margin: 0 auto;
                    transition: 0.3s ease-in-out;
                }

                @media only screen and(min-width: 1000px) {
                    width: 800px;
                    transition: 0.3s ease-in-out;
                }

                article {
                    height: auto;
                    margin-bottom: 20px;
                    width: auto;
                }
            }

            .foto {
                display: flex;
                justify-content: space-around;
            }

            @import "tipos";
            @import "stats";
            @import "ataques-skills";
            @import "locais";
        }
    }
}
