#pokemon {
    .container {
        position: relative;
        flex: auto;

        @import "loader";

        .info {
            display: flex;
            flex-direction: column;
            visibility: hidden;
            height: 0;
            margin: 0;
            width: 0;

            article {
                height: 0;
                margin: 0;
                width: 0;
                padding: 0;
            }

            &.show {
                visibility: visible;
                height: auto;
                width: 100%;
                padding-bottom: 44px;

                article {
                    height: auto;
                    margin-bottom: 20px;
                    width: auto;
                }
            }

            .foto {
                display: flex;
                justify-content: space-around;
            }

            @import "tipos";
            @import "stats";
            @import "skills";
            @import "ataques";
            @import "locais";
        }
    }
}
