.stats {
    h2 {
        margin-bottom: 1rem;
    }

    ul {
        
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px 0;
            border-bottom: 0.4px solid $cor5;
            align-self: center;
            div {
                font-size: 1.1rem;
            }
        }
        li:last-child {
            border-bottom: none;
        }
    }
}
