.types {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
            margin: 0 10px;
            padding: 2px 8px;
            border-radius: 2px;
            background: rgb(207, 80, 63);
            color: #fff;
        }
    }
}
