* {
    box-sizing: border-box;
}

section {
    max-width: 400px;
    margin: 30px auto 0 auto;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #323232;
    position: relative;

    .pesquisa {
        width: 100%;
        display: flex;

        input {
            width: 90%;
            padding: 8px 12px;
            border-radius: 6px 0 0 6px;
            border: 0.5px solid #323232;
            background-color: #f9fdfd;
        }

        button {
            width: 10%;
            border-radius: 0 6px 6px 0;
            border: 0.5px solid #323232;
            cursor: pointer;

            &:active {
                background: #cccccc;
            }
        }
    }

    #loader {
        position: absolute;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
        border-radius: 4px;
        left: 120px;
        transform: translateY(-50px);
        visibility: hidden;
        padding: 0;
        height: 0;
        margin: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        &.ativo {
            visibility: visible;
            height: auto;
            margin: 16px;
            padding: 20px;
            opacity: 1;
            transform: translateY(0);
            transition: all 0.3s ease-in-out;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        height: 0;
        margin: 0;

        .foto {
            display: flex;
            justify-content: space-around;
            margin: 0;
        }

        .vida,
        .local {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            p {
                margin: 0;
            }
        }

        &.show {
            visibility: visible;
            height: auto;

            .foto {
                margin-top: 28px;
            }

            .vida,
            .local {
                margin-top: 20px;
            }
        }
    }
}
